@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: rgb(58, 70, 99);
  min-height: 100vh;
  transition: 0.3s ease;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 0;
  max-width: 320px;
  margin: 0 auto;
}

.logo {
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.53px;
}

.themes {
  display: flex;
  align-items: flex-end;
  column-gap: 23px;
}

.themes h4 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 1px;
  font-family: "League Spartan", sans-serif;
}

.themeNums {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  margin-bottom: 3px;
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
}

.Themeinputs {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 15px;
  background: rgb(36, 45, 68);
  padding: 5px;
}

.Themeinputs input {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  -webkit-appearance: none;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

#themeOne {
  background: rgb(208, 63, 47);
  opacity: 0;
}

#themeTwo {
  background: rgb(200, 84, 2);
  opacity: 0;
}

#themeThree {
  background: rgb(0, 222, 208);
  opacity: 0;
}

.active {
  opacity: 1 !important;
}

main {
  max-width: 327px;
  margin: 32px auto 0 auto;
}

.displaySection {
  border-radius: 10px;
  background: rgb(24, 31, 51);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 29px 24px;
  overflow: auto;
}

.result {
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.67px;
  margin-top: 5px;
}

.operatorDiv {
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.calculatorBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: center;
  border-radius: 10px;
  background: rgb(36, 45, 68);
  margin: 24px auto 50px auto;
  padding: 24px;
}

.calculatorBtns > button {
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px 0px rgb(179, 164, 151);
  background: rgb(234, 227, 220);
  border: none;
  height: 64px;
  width: 60px;
  color: rgb(67, 74, 89);
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.53px;
}

.delBtn {
  box-shadow: inset 0px -4px 0px 0px rgb(65, 78, 115) !important;
  background: rgb(100, 113, 152) !important;
  color: rgb(255, 255, 255) !important;
  transition: 0.3s ease;
}

.reset-EqualityBtns {
  display: flex;
  align-items: center;
  row-gap: 13px;
}

.reset-EqualityBtns {
  display: flex;
  align-items: center;
  max-width: 100%;
  column-gap: 13px;
}

.reset-EqualityBtns button {
  border-radius: 5px;
  width: 133px;
  max-width: 133px;
  height: 64px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.33px;
  text-align: center;
}

.reset {
  box-shadow: inset 0px -4px 0px 0px rgb(65, 78, 115);
  background: rgb(100, 113, 152);
}

.equality {
  box-shadow: inset 0px -4px 0px 0px rgb(147, 38, 26);
  background: rgb(208, 63, 47);
}

/* theme two */
.bodyThemeTwo {
  background: rgb(230, 230, 230);
}
.bodyThemeTwo .logo {
  color: rgb(54, 54, 44);
}

.bodyThemeTwo .Themeinputs {
  background: rgb(210, 205, 205);
}

.bodyThemeTwo .themeNums {
  color: rgb(54, 54, 44);
}

.bodyThemeTwo .themes h4 {
  color: rgb(54, 54, 44);
}

.bodyThemeTwo .displaySection {
  background: rgb(238, 238, 238);
}

.bodyThemeTwo .displaySection div {
  color: rgb(54, 54, 44);
}

.bodyThemeTwo .calculatorBtns {
  background: rgb(210, 205, 205);
}

.bodyThemeTwo .calculatorBtns > button {
  box-shadow: inset 0px -4px 0px 0px rgb(167, 158, 145);
  background: rgb(229, 228, 225);
}

.bodyThemeTwo .delBtn {
  box-shadow: inset 0px -4px 0px 0px rgb(27, 96, 102) !important;
  background: rgb(55, 129, 135) !important;
}

.bodyThemeTwo .reset {
  box-shadow: inset 0px -4px 0px 0px rgb(27, 96, 102);
  background: rgb(55, 129, 135);
}

.bodyThemeTwo .equality {
  box-shadow: inset 0px -4px 0px 0px rgb(135, 57, 1);
  background: rgb(200, 84, 2);
}

/* theme three */
.bodyThemeThree {
  background: rgb(23, 6, 42);
}
.bodyThemeThree .logo {
  color: rgb(255, 229, 61);
}

.bodyThemeThree .Themeinputs {
  background: rgb(30, 9, 54);
}

.bodyThemeThree .themeNums {
  color: rgb(255, 229, 61);
}

.bodyThemeThree .themes h4 {
  color: rgb(255, 229, 61);
}

.bodyThemeThree .displaySection {
  background: rgb(30, 9, 54);
}

.bodyThemeThree .displaySection div {
  color: rgb(255, 229, 61);
}

.bodyThemeThree .calculatorBtns {
  background: rgb(30, 9, 54);
}

.bodyThemeThree .calculatorBtns > button {
  color: rgb(255, 229, 61);
  box-shadow: inset 0px -4px 0px 0px rgb(136, 28, 158);
  background: rgb(51, 28, 77);
}

.bodyThemeThree .delBtn {
  box-shadow: inset 0px -4px 0px 0px rgb(190, 21, 244) !important;
  background: rgb(86, 7, 124) !important;
}

.bodyThemeThree .reset {
  box-shadow: inset 0px -4px 0px 0px rgb(190, 21, 244);
  background: rgb(86, 7, 124);
}

.bodyThemeThree .equality {
  box-shadow: inset 0px -4px 0px 0px rgb(108, 249, 241);
  background: rgb(0, 222, 208);
  color: rgb(26, 35, 39);
}

@media screen and (min-width: 768px) {
  header {
    max-width: 533px;
  }

  .themeBtns {
    width: 71px;
  }

  main {
    max-width: 540px;
  }

  .calculatorBtns {
    gap: 24px;
    padding: 32px;
  }

  .calculatorBtns > button {
    width: 101px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .reset-EqualityBtns button {
    width: 227px;
    max-width: 227px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .displaySection {
    padding: 40px;
  }

  .result {
    font-size: 56px;
  }
}

@media screen and (min-width: 1000px) {
  .num-functBtns:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(179, 164, 151);
    background: rgb(255, 255, 254);
  }

  .delBtn:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(65, 78, 115) !important;
    background: rgb(162, 178, 225) !important;
  }

  .reset-EqualityBtns .reset:hover {
    background: rgb(162, 178, 225);
  }

  .reset-EqualityBtns .equality:hover {
    background: rgb(249, 107, 91);
  }

  .Themeinputs input {
    cursor: pointer;
  }

  .bodyThemeTwo .num-functBtns:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(167, 158, 145);
    background: rgb(255, 255, 255);
  }

  .bodyThemeTwo .delBtn:hover {
    background: #62b5bc !important;
  }

  .bodyThemeTwo .reset:hover {
    background: #62b5bc;
  }
  .bodyThemeTwo .equality:hover {
    background-color: #ff8a38;
  }

  .bodyThemeThree .num-functBtns:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(136, 28, 158);
    background: rgb(108, 52, 172);
  }

  .bodyThemeThree .delBtn:hover {
    background: #8631af !important;
    box-shadow: inset 0px -4px 0px 0px #be15f4 !important;
  }

  .bodyThemeThree .reset:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(190, 21, 244);
    background: rgb(134, 49, 175);
  }
  .bodyThemeThree .equality:hover {
    background-color: #93fff8;
    box-shadow: inset 0px -4px 0px 0px #6cf9f1;
  }
}

@media screen and (max-width: 342px) {
  .calculatorBtns {
    gap: 11px;
  }

  .calculatorBtns > button {
    width: 53px;
    font-size: 24px;
  }
}
